.DS_Store
Thumbs.db

.idea/
.vscode/
*.iml

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
coverage/

android/.gradle/
android/app/build/

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
macos/Pods/

linux/flutter/ephemeral/
windows/flutter/ephemeral/

*.log
